/* Whole body shit */

:root {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --background-color: #231f20;
    --normal-text-color: #b1a99d;

    /* Media queries not so fun */
    @media (width <= 400px) {
        --name-title-size: 8cqw;
    }
    @media (width > 400px) {
        --name-title-size: 7cqw;
    }

    @media (width <= 400px) {
        --date-place-title-size: 3.5cqw;
    }
    @media (width > 400px) {
        --date-place-title-size: 3cqw;
    }

    @media (width <= 400px) {
        --normal-header-size: 1.9em;
    }
    @media (width > 400px) and (width <= 800px) {
        --normal-header-size: 2.3em;
    }
    @media (width > 800px) and (width <= 1200px) {
        --normal-header-size: 2.8em;
    }
    @media (width > 1200px) {
        --normal-header-size: 3.1em;
    }
}

html {
    /*
        Gotta make sure footer makes it to the bottom of the page.
        I guess it's less important since we only have this single page, which
        should never be smaller than the screen. I suppose if someone uses a
        super tall monitor, we'll have that covered though!
    */
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--normal-text-color);
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

/* Header shit */

#header-flex-elem {
    background-image: url("../img/header.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2650/1085;

    display: flex;
    flex-direction: column;
}

#name-title {
    color: var(--normal-text-color);
    font-size: var(--name-title-size);
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;

    margin-top: auto;
    margin-bottom: 1%;
}

#date-location-title {
    color: var(--normal-text-color);
    font-size: var(--date-place-title-size);

    margin-bottom: 0.5em;
}

.split-centered-title {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5em 1fr;

    /* Set each child (span elem) to align towards the center */
    span {
        &:nth-child(1) {
            text-align: right;
        }
        &:nth-child(2) {
            text-align: center;
        }
        &:nth-child(3) {
            text-align: left;
        }
    }
}

/* Main content shit */

#content-flex-elem {
    flex-grow: 1;
    width: 75%;
    align-self: center;
    margin: 2em;

    /* Nested rules rock */
    section {
        text-align: center;

        h1 {
            color: var(--normal-text-color);
            font-size: var(--normal-header-size);
            margin: 0;
        }
        /* Bottom border on all but last section to create separators */
        &:nth-last-child(n + 2) {
            padding-bottom: 2em;
            border-bottom: 1px solid var(--normal-text-color);
        }
        /* Top margin on all but first section to keep spacing even */
        &:nth-child(n + 2) {
            margin-top: 1.5em;
        }
    }
}

#content-schedule {
    h3 {
        margin-bottom: 0.25em;
        font-size: 1.3em;
    }

    #schedule-address {
        font-size: 1.2em;
    }
}

#content-qna {
    display: flex;
    flex-direction: column;
    align-items: center;

    #questions {
        margin-top: 1em;

        @media (width <= 1000px) {
            width: 75%;
        }
        @media (width > 1000px) {
            width: 50%;
        }

        text-align: left;

        details {
            font-size: 1.15em;
            summary {
                font-size: 1.35em;

                list-style-type: none;
                &::-webkit-details-marker {
                    display: none;
                }
                &::before {
                    content: "";
                    margin-right: 0.5em;
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 0.5rem;
                    background-color: var(--normal-text-color);
                    /*
                        Stolen from Bootstrap
                        https://icons.getbootstrap.com/icons/chevron-double-right/
                        (Stored at res/img/chevron-double-right.svg but unused)
                    */
                    mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-double-right%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M3.646%201.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201%200%20.708l-6%206a.5.5%200%200%201-.708-.708L9.293%208%203.646%202.354a.5.5%200%200%201%200-.708%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M7.646%201.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201%200%20.708l-6%206a.5.5%200%200%201-.708-.708L13.293%208%207.646%202.354a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E");

                    transition: transform 0.3s;
                }
            }
            &[open] summary::before {
                transform: rotate(90deg);
            }
            &:nth-last-child(n + 2) {
                margin-bottom: 1em;
            }
        }
    }
}

/* Footer shit */

#footer-flex-elem {
    background-image: url("../img/footer.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2650/600;
}
